*{
    font-family: 'Agency FB', arial;
}

.Inicio-pc{
    display: none;
}

.Inicio-cel{
    display: none;
}

/* @include media-breakpoint-up(md) {
    .Inicio {
      display:all;
    }
} */
@media (min-width:768px){
    .Inicio-pc{
        display: block;
    }
}

@media(max-width:767px){
    .Inicio-cel{
        display: block;
    }
}

#navbarNav{
    font-size: 2rem;
    display: inline-block;
}

.nav-item{
    margin-right: 6rem;
    margin-left: 6rem;
}

div ul li:hover{
    background: rgb(218, 196, 0);
    color: #fff;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    transition: 200ms;
    transition: 200ms ease;
}

div ul li{
    transition: 0.2s;
}
