*{
    font-family: 'Agency FB', arial;
}

.Inicio-pc{
    display: none;
}

.Inicio-cel{
    display: none;
}

/* @include media-breakpoint-up(md) {
    .Inicio {
      display:all;
    }
} */
@media (min-width:768px){
    .Inicio-pc{
        display: block;
    }
}

@media(max-width:767px){
    .Inicio-cel{
        display: block;
    }
}

#navbarNav{
    font-size: 2rem;
    display: inline-block;
}

.nav-item{
    margin-right: 6rem;
    margin-left: 6rem;
}

div ul li:hover{
    background: rgb(218, 196, 0);
    color: #fff;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    transition: 200ms;
    transition: 200ms ease;
    border-radius:45%;
    /* height: 3.5rem; */
    /* padding-right: 20px;
    padding-left: 20px; */
    text-align: center;
    display: inline-block;
    height: 60px;
    width: 150px;
}

div ul li{
    transition: 0.2s;
    height: 60px;
    width: 110px;
    text-align: center;
    display: inline-block;
    
}

.d-block{
    width: 100% !important;
    max-height: 55rem;
    height: 55rem !important;
    height: fit-content !important;
}

.carousel-caption h1{
    color: white;
    text-shadow: 0 0 5px rgb(39, 39, 39), 0 0 10px rgb(49, 49, 49),
    0 0 20px rgb(32, 32, 32), 0 0 40px rgb(41, 41, 41),
    0 0 80px rgb(32, 32, 32), 0 0 90px rgb(24, 24, 24)/*,
    0 0 100px rgb(0, 0, 0)*/;;
    margin-bottom:12rem;
}


.carousel-indicators{
    display: inline-block;
}

.carousel-inner{
    max-height: 660px;
    size-adjust: fill;
    border-radius: 4px;
}

/* .carousel-logo{
    display:flex;
    align-content: start;
    position: absolute;
    top:50%;
} */

section h2{
    color: white;
    text-align: center;
    display: block;
    padding: 2rem;
}

#img{
    object-fit: fill;
}

section article div{
    display: inline-block;
    color: white;
    align-content:space-around;
    text-align: center;
    padding: 2rem;
}

.titulo{
    background-color: rgb(66, 66, 66);
}

#logo{
    margin-left: 2rem;
}

section article div img{
    max-height: 40rem;
    max-width: 40rem;
    transition: 0.2s;
    border-radius: 8px;
}

section article div img{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px rgb(39, 39, 39), 0 0 10px rgb(49, 49, 49),
    0 0 20px rgb(32, 32, 32), 0 0 40px rgb(41, 41, 41),
    0 0 80px rgb(32, 32, 32), 0 0 90px rgb(24, 24, 24);
    transition: 0.2s;
}

section article div div:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px rgb(39, 39, 39), 0 0 10px rgb(49, 49, 49),
    0 0 20px rgb(32, 32, 32), 0 0 40px rgb(41, 41, 41),
    0 0 80px rgb(32, 32, 32), 0 0 90px rgb(24, 24, 24);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    transition: 200ms ease;
}

/* section article{
    margin-top: -2.5rem;
} */

main{
    background: #ffbf00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #181818, #ffbf00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #181818, #ffbf00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    padding: 0 10px;
    background: #333;
    line-height: 50px;
    font-size: 18px;
    transition: 0.1s;
  }
  
  footer a:hover {
    color: #fff;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  }

  #c{
      font-size: 2rem;
      text-align: justify;
  }

  #texto{
      padding: 15px;
  }
  
  footer .facebook:hover {
    background: #3b5999;
    filter: none;
  }
  
  footer .instagram:hover {
    background: #c13584;
  }
  footer .whatsapp:hover {
    background: #25d366;
  }

  #article{
      margin-top: -2rem;
  }

  #ignorar{
      transform: none;
      transition: none;
      box-shadow: none;
  }
  #ignorar:hover{
    transform: none;
    transition: none;
    box-shadow: none;
  }

  #copy {
    font-family: rale;
    background: #333;
    width: auto;
    margin-bottom: auto;
    color: #fff;
    text-align: center;
    justify-content: center;
  }